<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine</title>
</head>
<body>

    <h1>Add Medicine</h1>

    <form method="POST">

    <input type="text" name="name" placeholder="Medicine name" required>

    <input type="text" name="dose" placeholder="Dosage" required>

    <input type="time" name="time" required>

    <input type="text" name="duration" placeholder="Duration" required>

    <input type="email" name="caregiver_email" placeholder="Caregiver Email" required>

    <button type="submit">Add Medicine</button>

</form>

</body>
</html>